<!DOCTYPE html>
<html ng-app="restaurants">
  <head>
    <title>Best Restaurants</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src = "js/RestaurantsController.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" ng-controller="RestaurantsCtrl">
      <div class="row">
        <div class="col-md-12">
          <h4>Search Restaurants</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="search.name" type="text" class="form-control" placeholder="Search by name" />
              <input ng-model="search.food" type="text" class="form-control" placeholder="Search by cuisine" />
              <select ng-model="search.location" class="form-control">
                <option value="">Choose</option>
                <option value="northWest">North West</option>
                <option value="northEast">North East</option>
                <option value="north">North</option>
                <option value="southEast">South East</option>
                <option value="southWest">South West</option>
              </select>

              <div class="radio">
                <label><input ng-model="query.price" type="radio" name="optionRadios" id="optionsRadio1" value="$">$</label>
              </div>
              <div class="radio">
                <label><input ng-model="query.price" type="radio" name="optionRadios" id="optionsRadio2" value="$$">$$</label>
              </div>
              <div class="radio">
                <label><input ng-model="query.price" type="radio" name="optionRadios" id="optionsRadio3" value="$$$">$$$</label>
            </div>
              <!-- <div class="radio">
                <label><input type="radio" ng-model="query.price" name="optionRadios" id="optionsRadio4" value="">$-$$$</label>
              </div> -->
          </form>
          </div>
        </div>
        <div class="row">
        <div class="col-md-12">
          <h2 ng-show="restaurants.length && filtered.length"> Restaurant List</h2>
          <h2 ng-show="restaurants.length && !filtered.length">No Matches</h2>
          <ul>
            <li ng-repeat="item in filtered = (restaurants | filter:search:result | filter:query:true)">
              <span ng-click="editing = true" ng-hide="editing">
                {{item.name}}
                {{item.food}}
                {{item.location}}
                {{item.price}} <a ng-click="deleteRestaurant(item)">Delete </a>
            </span>
            <span class="form-group" ng-show="editing" ng-submit="editing = false">
              <form class="form-inline" role="form">
                <input type="text" class="form-control input-sm" ng-model="item.food" placeholder="Change Food Type" required />
                <input type="text" class="form-control input-sm" ng-model="item.location" placeholder="Change Location" required />
                <input type="text" class="form-control input-sm" ng-model="item.price" placeholder="Change Price" required />
                <button class="btn btn-default btn-sm" type="submit">Save</button>
              </form>
            </span>
          </li>
          </ul>
        </div>
        </div>
        <div class "col-md-4">
          <h2>New Restaurant</h2>
          <form ng-submit="addRestaurant()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="restaurantName" class="form-control" placeholder="Enter name" required>
              <input type="text" ng-model="restaurantFood" class="form-control" placeholder="Enter food type" required>
              <select ng-model="restaurantLocation" class="form-control" name="locations" id="locations">
                <option value="">Choose location</option>
                <option value="northWest">North West</option>
                <option value="northEast">North East</option>
                <option value="north">North</option>
                <option value="southEast">South East</option>
                <option value="southWest">South West</option>
              </select>
              <select class="form-control" name="prices" id="prices" ng-model="restaurantPrice" >
                <option value="">$-$$$</option>
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
              </select >
              <button class="btn btn-default btn-sm" type="submit">Save</button>
            </div>
          </form>
      </div>
  </body>
</html>
